/* green button */
.btn-green {
    background-color: #009245;
    color: white;
    border: none;
    width: 100%;
    max-width: 200px;
    transition: 0.3s ease-in-out;
  }
  
  .btn-green:hover {
    color:whitesmoke;
    background-color: #007a39; /* a bit darker for hover */
  }
  
  /* Hero section */
  .hero-img {
    max-height: 440px; /* adjust as needed */
    width: auto;
    object-fit: contain;
    margin: 0 auto;
    display: block;
  }
  